@charset "UTF-8";
/**
 * Copyright 2013-2013, tritrue Inc. All rights reserved.
 *
 * @fileoverview トップページCSS
 */

/**
  * @elem body
  * TODO iphoneサイズ
  */
html, body {
  height: 100%;
}

body {
  margin: 0px auto 0px auto;
}

#content {
  background-color: #dddddd;
  height: 100%;
}

#logo {
  width: 200px;
  position: relative;
  padding-top: 155px;
  margin: 0px auto 0px auto;
}

#logo_image {
  width: 200px;
}

#logo_caption {
  width: 80px;
  position: absolute;
  top: 206px;
  left: 162px;
  color: #4C9F19;
  font-size: 12px;
  font-weight: bold;
  }

#search {
  width: 290px;
  margin: 6px auto 0px auto;
}

#search_word {
  display: inline-block;
  height: 41px;
  width: 230px;
  margin-right: -5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

#search_button {
  display: inline-block;
  height: 46px;
  width: 47px;
  position: relative;
  top: 6px;
  background-color: #4C9F19;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

#loope {
  position: relative;
  top: 6px;
  left: 6px;
}

#company_url {
  width: 75px;
  display: block;
  margin: 200px auto 0px auto;
  margin-top: 150px;
  color: #4C9F19;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#result {
  min-height: 100%;           /* ② */
  height: auto !important;    /* ③ */
  height: 100%;               /* ④ */
}

.place_thumbnail {
  width: 50px;
}

/**
  * @elem footer
  */
#footer {
  width: 100%;
  background-color: rgba(241, 241, 241, 1);
  position: fixed;
  bottom: 0px;
  height: 51px;
}

#footer #search_word {
  height: 31px;
  width: 150px;
  position: relative;
  top: -9px;
}

#footer #search_button {
  top: -6px;
  height: 35px;
  width: 37
}

#footer #loope {
  height: 25px;
}

#footer_logo_image {
  width: 78px;
  margin: 13px 2px 0px 16px;
}

body {
  width: 645px;
}
#main_window {
  width: 320px;
  display: inline-block;
}
#result2 {
  width: 320px;
  display: inline-block;
}
