@charset "UTF-8";
/**
 * Copyright 2013-2013, tritrue Inc. All rights reserved.
 *
 * @fileoverview トップページCSS
 */

/**
  * @elem body
  * TODO iphoneサイズ
  */
html, body {
}

body {
  margin: 0px auto 0px auto;
}

#content {
  background-color: #dddddd;
}

#logo {
  width: 200px;
  position: relative;
  padding-top: 155px;
  margin: 0px auto 0px auto;
}

#logo_image {
  width: 200px;
}

#logo_caption {
  width: 80px;
  position: absolute;
  top: 206px;
  left: 162px;
  color: #4C9F19;
  font-size: 12px;
  font-weight: bold;
  }

#search {
  width: 293px;
  margin: 6px auto 0px auto;
}

#search_word {
  display: inline-block;
  height: 41px;
  width: 230px;
  margin-right: -5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

#search_button {
  display: inline-block;
  height: 46px;
  width: 47px;
  position: relative;
  top: 6px;
  background-color: #4C9F19;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

#loope {
  position: relative;
  top: 6px;
  left: 6px;
}

#company_url {
  width: 75px;
  display: block;
  margin: 200px auto 0px auto;
  margin-top: 150px;
  color: #4C9F19;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
